<div class="js-form-subsection form-subsection formSubsection-java">
    <div class="java-versions d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="java-version" type="radio" class="form__radio-btn"
                   id="java8" value="java8">
            <label class="form__radio-label" for="java8">
                <img class="form__radio-label-icon" src="/static/img/java-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Java 8</span>
            </label>
        </div>
        <div class="form__radio-btn-wrapper">
            <input name="java-version" type="radio" class="form__radio-btn"
                   id="java11" value="java11">
            <label class="form__radio-label" for="java11">
                <img class="form__radio-label-icon" src="/static/img/java-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Java 11</span>
            </label>
        </div>
    </div>
</div>